<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>David Menjivar</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwdZdzcc0AVXJ+CfJYr2Bv+hmrx5Q4V1rb8O8YpiGpdKn/FbVHXXQXoRe5TAVvWA7Z2qa1KYTqznShBeFZhKC1uw==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$5AP6LfbHjD5y3G9jgDo3qeFX.HyiB9WR2WYa.vCyXJmMWP5.lENgy</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1593033280956</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>